.logo {
    width: 25%;
}
.footercontacto {
    text-align: center;
}
.principal {
    text-align: center;
}
.personamoto {
    display: grid;
    justify-items: center;
    margin-top: 20px;
    padding: 8px;
}